<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
<div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project"><img itemprop="image" src="/images/biggo.png" class="img-responsive" width=50px></a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/project">Running Projects</a></li>
            <li><a href="/pendingproject">Pending Projects</a></li>
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Pending Projects-->
                    <!--<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!---->
                    <!--<li><a href="/makeproject">Add Project</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <li><a href="/projecthistory">Project History</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/productpage">Products</a></li>
                    <li><a href="/task">Steps</a></li>
                    <li><a href="/subtask">Specifications</a></li>
                </ul>
            </li>
            <li><a href="/user">User Details</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{user.email}} </a></li>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Create User </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
        </ul>
    </div>
</nav>
</div>
<div class="container-fluid">
    {{{ body }}}
    <script>
        $('.input-group.date').datetimepicker({
                format:'DD/MM/YYYY hh:mm A'
            });
    </script>
</div>

</body>
<div>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>Project Management Software Made By <a href="https://www.biggo.com.bd" title="Visit BigGO">BigGO</a></p>
        <div class="row"><div class="col-sm-offset-5"><a href="https://www.biggo.com.bd"><img itemprop="image" src="/images/biggo.png" class="img-responsive" width=200px></a></div></div>
    </footer>
</div>
</html>





